modules = ["bash"]
run = "./gradlew bootRun"

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "tar -xvf build/distributions/kotlin-compiler-server-boot-2.0.20-SNAPSHOT.tar && ./kotlin-compiler-server-boot-2.0.20-SNAPSHOT/bin/kotlin-compiler-server",
]
deploymentTarget = "gce"
build = ["sh", "-c", "./gradlew bootDistTar --no-daemon"]

[[ports]]
localPort = 8080
externalPort = 80
