modules = ["bash"]
run = "./gradlew bootRun"

[nix]
channel = "stable-24_05"

[deployment]
run = "export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java)))); ./gradlew bootRun"
deploymentTarget = "gce"
build = [
  "export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java)))); ./gradlew build -x test",
]

[[ports]]
localPort = 8080
externalPort = 80
