modules = ["bash"]
run = "./gradlew bootRun"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "./gradlew build -x test"]
deploymentTarget = "gce"
build = ["sh", "-c", "./gradlew bootRun"]
